.ipPluginAsdTranslate ul {
    list-style: none;

}
.ipPluginAsdTranslate ul li.title {
    font-weight: bold;
}
.ipPluginAsdTranslate ul li a {
    display: block;
    padding: 3px 5px;
}
.ipPluginAsdTranslate ul li.active a {
    background-color: #F1F1F1;
}

table.table td{
    width: 50%;
}


table.table td .btn {
	display: none;
}

table.table td:hover .btn {
	display: block;
}

table.table textarea{
    width: 75%;
    min-height: 24px;
    border: 1px solid #ccc;
    float: left;
    padding: 5px;
    margin-right: 5px;
}
